.idea
.vscode
_deps
cmake-*
build
.DS_Store
*.pdf
adc/
clocks/
divider/
dma/
flash/
hello_world/
i2c/
ide/
interp/
multicore/
pico_w/
picoboard/
pio/
reset/
rtc/
spi/
system/
timer/
uart/
usb/
watchdog/
